* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5;
    background-image: linear-gradient(rgba(17, 10, 7, 0.7), rgba(17, 10, 7, 0.7)), url('../anexos/background.jpg');
    background-size: cover;
}

.header {
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
    font-size: 1rem;
    padding: 0.5rem;
}

#header-left, #header-right {
    display: flex;
    align-items: center;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

#header-left a {
    font-weight: 500;
    text-decoration: none;
    color: black;
    background-color: #331f15;
    padding: 10px;
    border-radius: 6px;
    color: white;
}
#header-left a:hover {
    background-color: #613a29;
}

#header-right a {
    text-decoration: none;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
    background-color: rgb(160, 0, 0);
    margin-left: 10px;
}
#header-right a:hover {
    background-color: rgb(200, 0, 0);
}

.title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 4%;
}

h1 {
    color: #fff;
    font-size: 60px;
    text-shadow: 0 4px 8px rgba(0, 0, 0, 0.9);
}

h3 {
    color: #fff;
    text-shadow: 0 4px 8px rgba(0, 0, 0, 0.9);
    text-align: center;
}

.container {
    background-color: #ffffff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
    width: 27%;
    text-align: center;
    margin-top: 20px;
}

label {
    display: block;
    text-align: left;
    margin-bottom: 8px;
    font-size: 14px;
    color: #555;
}

input[type="text"],
input[type="date"],
input[type="time"],
input[type="password"],
input[type="email"],
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    color: #333;
    background-color: #fff;
}

input[type="text"]::placeholder {
    color: #aaa;
}

select {
    cursor: pointer;
}

input[type="text"]:focus,
input[type="date"]:focus,
input[type="time"]:focus,
input[type="email"]:focus,
select:focus {
    outline: none;
    border-color: #331f15;
}

input[type="submit"] {
    background-color: #331f15;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

input[type="submit"]:hover {
    background-color: #613a29;
}

#link {
    color: #331f15; 
    padding: 10px;
    padding-bottom: 20px;
    text-decoration: underline;
    display: block;
}

fieldset {
    border: none;
}

.agendamentos {
    width: 100%;
    border-collapse: collapse;
}

.agendamentos th, .agendamentos td {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: center;
}

.agendamentos th {
    background-color: #331f15;
    color: #fff;
    font-weight: bold;
}

.agendamentos tr:nth-child(even) {
    background-color: #f9f9f9;
}

.agendamentos tr:hover {
    background-color: #f1f1f1;
}

.agendamentos td {
    color: #333;
}

#div-horarios {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.horario {
    background-color: #492d1f;
    padding: 10px;
    color: white;
    text-align: center;
    border-radius: 5px;
    font-size: 14px;
}

.horario:hover {
    background-color: #88513a;
    cursor: pointer;
}